@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;700&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500&family=Ubuntu:wght@300;400;500&display=swap");
body {
  background-color: #F6F6F6;
}

.home-btn {
  color: #ffffff;
  font-size: 18px;
  cursor: pointer;
}

.home-btn:hover, .btn-container__menu:hover, .btn-container__search:hover {
  transition: all 0.3s linear;
  color: #FD7E14;
}

.catalog {
  width: 100%;
  flex-direction: column;
}
.catalog .catalog__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #ffffff;
  font-family: Ubuntu;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0em;
  height: 70px;
  background-color: #B02A37;
  width: 100%;
  transition: all 0.3s linear;
}
.catalog .catalog__btn:hover {
  background-color: #FD7E14;
}
.catalog .catalog__menu {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0 !important;
  margin: 0 !important;
}
.catalog .catalog__menu .menu__item {
  flex-direction: column;
  width: 50%;
  height: 120px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #B02A37;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  transition: all 0.3s linear;
  cursor: pointer;
}
.catalog .catalog__menu .menu__item:first-child, .catalog .catalog__menu .menu__item:nth-child(2) {
  border-top: none;
  border-bottom: none;
}
.catalog .catalog__menu .menu__item:nth-child(3), .catalog .catalog__menu .menu__item:last-child {
  border-bottom: none;
}
.catalog .catalog__menu .menu__item:hover {
  background-color: #FD7E14;
}
.catalog .catalog__menu .menu__item span {
  font-family: Ubuntu;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 21px;
  letter-spacing: 0em;
  color: #ffffff;
}
.catalog .catalog__menu .menu__item img {
  width: 50px;
}
.catalog .catalog__menu .menu__item:nth-child(odd) {
  border-right: 1px solid #ffffff;
}

.products {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F6F6F6;
  padding-bottom: 50px;
}
.products .products__navigation {
  margin: 30px 0;
  display: flex;
  justify-content: center;
}
.products .products__navigation .item {
  font-family: Nunito Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-decoration: underline;
  color: #030303;
  transition: all 0.3s linear;
}
.products .products__navigation .item:hover {
  color: #FD7E14;
}
.products .products__navigation .arrow {
  font-size: 15px;
  color: #030303;
  margin: 0 7px;
}
.products .products__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.products .products__container .product-item {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  width: 325px;
  border-radius: 15px;
  background-color: #ffffff;
  align-items: center;
}
.products .products__container .product-item__price {
  margin-bottom: 15px;
  font-family: "Nunito Sans", sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #030303;
}
.products .products__container .product-item:first-child {
  margin-top: 0;
}
.products .products__container .product-item .line {
  width: 90%;
  height: 1px;
  background-color: #030303;
  opacity: 0.05;
  margin-bottom: 15px;
}
.products .products__container .product-item img {
  width: 225px;
  border-radius: 15px;
  margin-bottom: 25px;
}
.products .products__container .product-item h2 {
  font-family: Roboto Slab;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  color: #030303;
  margin-bottom: 25px;
}
.products .products__container .product-item__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #DC3545;
  color: #ffffff;
  font-family: Nunito Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  border-radius: 15px;
  padding: 14px 37px;
  text-decoration: none;
  transition: all 0.3s linear;
  margin-bottom: 30px;
}
.products .products__container .product-item__btn:hover {
  background: linear-gradient(90deg, #FD7E14 0%, #FFA51F 100%);
  color: #030303;
}

.footer {
  width: 100%;
  background-color: #ffffff;
  padding: 30px 0;
}
.footer .partners {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.footer .partners .partners__item {
  height: 30px;
  margin: 30px 0 15px 0;
}
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;700&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500&family=Ubuntu:wght@300;400;500&display=swap");
* {
  padding: 0px;
  margin: 0px;
}

body {
  min-width: 375px;
}

.header {
  width: 100%;
  height: 50px;
  padding: 0px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #DC3545;
  position: relative;
}
.header .mobile-menu {
  transition: all 0.3s linear;
  display: none;
  width: 100%;
  position: absolute;
  left: 0;
  top: 50px;
  flex-direction: column;
  align-items: center;
  background-color: #B02A37;
}
.header .mobile-menu .mobile-menu__search-form {
  margin: 50px 0;
  display: flex;
}
.header .mobile-menu .mobile-menu__search-form .search-form__button {
  margin-left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #B02A37;
  border: none;
}
.header .mobile-menu .mobile-menu__search-form .search-form__button i {
  font-size: 24px;
  color: #ffffff;
}
.header .mobile-menu .mobile-menu__search-form .search-form__input {
  width: 240px;
  height: 50px;
  border-radius: 25px;
  border: none;
  color: #747171;
  font-family: Nunito Sans;
  font-size: 16px;
  padding-left: 10px;
}
.header .mobile-menu .mobile-menu__link {
  margin-top: 30px;
  font-family: Nunito Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  transition: all 0.3s linear;
  text-decoration: none;
  color: #ffffff;
}
.header .mobile-menu .mobile-menu__link:hover {
  font-weight: 500;
}
.header .mobile-menu .mobile-menu__link:nth-child(4) {
  text-decoration: underline;
}
.header .mobile-menu .mobile-menu__link:first-child {
  margin-top: 50px;
}

.phonenumber {
  cursor: pointer;
  color: #ffffff;
  display: flex;
  text-decoration: none;
  transition: 0.3s all ease;
}
.phonenumber__icon {
  font-size: 13px;
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-right: 5px;
}
.phonenumber__text {
  text-decoration: underline;
}
.phonenumber:hover {
  color: #FD7E14;
}

.btn-container {
  transition: 0.3s all ease;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.btn-container__search {
  cursor: pointer;
  font-size: 15px;
}

.btn-container__menu {
  cursor: pointer;
  font-size: 25px;
  margin-left: 5px;
}

.title {
  width: 100%;
  background-color: aliceblue;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;700&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500&family=Ubuntu:wght@300;400;500&display=swap");