@import "var.scss";

.header{
  min-height: 50px;
  background-color: $slicer-red-dark;
  &__phonenumber{
    color: $slicer-background;
    i{
      font-size: 13px;
    }
    a{
      font-size: 14px;
      color: $slicer-background;
      cursor: pointer;
      
    }
  }
  &__search{
    font-size: 15px;
    cursor: pointer;
    color: $slicer-background;
    cursor: pointer;  
  }
  &__menu{
    margin-left: 10px;
    font-size: 24px;
    cursor: pointer;
    color: $slicer-background;
    cursor: pointer; 
  }
  &__desktop-menu{

  }
}