@import "var.scss";

body {
  background-color: $slicer-page-background;
}

.home-btn {
  color: $slicer-background;
  font-size: 18px;
  cursor: pointer;
}

.home-btn:hover,
.btn-container__menu:hover,
.btn-container__search:hover {
  transition: all 0.3s linear;
  color: $slicer-highlight;
}

.catalog {
  width: 100%;
  flex-direction: column;

  .catalog__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: $slicer-background;
    font-family: Ubuntu;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0em;
    height: 70px;
    background-color: $slicer-red;
    width: 100%;
    transition: all 0.3s linear;

    &:active {
      background-color: $slicer-highlight;
    }

    &:hover {
      background-color: $slicer-highlight;
    }
  }

  .menu__categories {
    width: 100%;
    position: relative;

    @media screen and (min-width: $breakpoint-xl) {
      display: none;
    }

    .catalog__menu {
      display: none;
      position: absolute;
      top: 70px;
      left: 0;
    }
  }

  .catalog__menu {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0 !important;
    margin: 0 !important;

    .menu__item {
      &:nth-child(4) {
        border-bottom: none;
      }

      &:nth-child(5) {
        display: none;
      }

      &:nth-child(6) {
        display: none;
      }

      &:nth-child(7) {
        display: none;
        border-right: 1px solid $slicer-background;
      }

      &:nth-child(8) {
        display: none;
        border-right: none;
      }

      width: 50%;
      height: 120px;
      display: flex;
      background-color: $slicer-red;
      border-top: 1px solid $slicer-background;
      border-bottom: 1px solid $slicer-background;
      transition: all 0.3s linear;
      text-decoration: none;

      &:hover {
        background-color: $slicer-highlight;
      }

      li {
        width: 100%;
        height: 120px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        img {
          width: 40px;
          height: 40px;
        }
      }

      &:first-child,
      &:nth-child(2) {
        border-top: none;
        border-bottom: none;
      }

      &:nth-child(3),
      &:last-child {
        border-bottom: none;
      }

      &:active {
        background-color: $slicer-highlight;
      }

      span {
        display: flex;
        justify-items: center;
        align-items: center;
        font-family: Ubuntu;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: 21px;
        letter-spacing: 0em;
        color: #ffffff;
      }

      img {
        width: 50px;
      }

      &:nth-child(odd) {
        border-right: 1px solid $slicer-background;
      }

      @media screen and (min-width: $breakpoint-md) {
        width: 25%;
        border: 1px solid $slicer-background !important;
        border-left: none !important;

        &:nth-child(4) {
          border-right: none !important;
        }
      }

      @media screen and (min-width: $breakpoint-xl) {
        width: 12.5%;

        li {
          span {
            font-size: 15px !important;
          }
        }

        &:nth-child(4) {
          border-right: 1px solid $slicer-background !important;
        }

        &:nth-child(5) {
          display: flex;
        }

        &:nth-child(6) {
          display: flex;
        }

        &:nth-child(7) {
          display: flex;
        }

        &:nth-child(8) {
          display: flex;
          border-right: none !important;
        }
      }
    }
  }
}

.products {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $slicer-page-background;
  padding-bottom: 50px;

  .products__navigation {
    margin: 30px 0;
    display: flex;
    justify-content: center;

    .item {
      font-family: Nunito Sans;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 19px;
      letter-spacing: 0em;
      text-decoration: underline;
      color: $slicer-black;
      transition: all 0.3s linear;

      &:hover {
        color: $slicer-highlight;
      }

      @media screen and (min-width: $breakpoint-xl) {
        font-size: 20px;
      }
    }

    .arrow {
      font-size: 15px;
      color: $slicer-black;
      margin: 0 7px;
    }
  }

  .products__container {

    // display: flex;
    // flex-wrap: wrap;
    // flex-direction: column;
    // width: 100%;
    // align-items: center;


    @media screen and (min-width: $breakpoint-md) {}
  }
}

.product-item {
  overflow: hidden;
  transition: all 0.3s linear;
  filter: drop-shadow(1px 1px 15px rgba(75, 43, 43, 0.10));

  &:hover {
    filter: drop-shadow(1px 1px 15px rgba(0, 0, 0, 0.15));
  }

  margin: 15px 5px 15px 5px;
  display: flex;
  flex-direction: column;
  // width: 335px;
  width: 325px;
  // height: 440px; ПО РУКАМ НАХУЙ ЗА СТАТИЧНУЮ ВЫСОТУ!!!!!!
  border-radius: 15px;
  background-color: $slicer-background;
  // justify-content: space-around;
  align-items: center;

  &__price {
    margin-bottom: 15px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: $slicer-black;
  }

  // &:first-child{
  //     margin-top: 0;
  // }
  .line {
    width: 90%;
    height: 1px;
    background-color: $slicer-black;
    opacity: 0.05;
    margin-bottom: 15px;
  }

  img {
    width: 225px;
    border-radius: 15px;
    margin-bottom: 25px;
  }

  h2 {
    font-family: Roboto Slab;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    color: $slicer-black;
    margin-bottom: 25px;
  }

  &__btn {
    @include btn;
    margin-bottom: 30px;
  }

  @media screen and (min-width: $breakpoint-md) {}
}

.footer {
  width: 100%;
  background-color: $slicer-background;
  padding: 30px 0;

  .partners {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    .partners__item {
      height: 30px;
      margin: 30px 0 15px 0;

      @media screen and (min-width: $breakpoint-xl) {
        height: 40px;
      }
    }
  }
}