@import "var.scss";

.product{
    &__title{
        font-family: 'Roboto Slab', serif;
        font-size: 36px;
        font-weight: 400;
        color: $slicer-red-dark;
    }
    &__price{
        font-family: 'Nunito Sans', sans-serif;
        color: $slicer-black;
        font-size: 18px;
        font-weight: 200;
    }
    &__description{
        font-family: 'Nunito Sans', sans-serif;
        color: $slicer-light-text;
        font-size: 14px;
        font-weight: 200;
    }
    &__button{
        max-width: 180px;
    }
}