@import "var.scss";
@import "slider.scss";
@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";  
@import "node_modules/@glidejs/glide/src/assets/sass/glide.theme";

* {
  padding: 0px;
  margin: 0px;
}

body {
  min-width: 375px;
}

.open {
  display: flex;
}
.close {
  display: none;
}

.title {
  @include bg;
  z-index: 1;
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
  * {
    z-index: 3;
  }
  &__gradient {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    align-items: center;
    background-color: $slicer-red;
    z-index: 100;
    border-bottom: 1px solid $slicer-background;
  }

  @media screen and (min-width: $breakpoint-md) {
    padding-top: 60px !important;
    padding-bottom: 100px !important;
  }
  @media screen and (min-width: $breakpoint-lg) {
    padding-top: 90px !important;
    padding-bottom: 120px !important;
  }
  @media screen and (min-width: $breakpoint-xl) {
    padding-top: 120px !important;
    padding-bottom: 165px !important;
  }

  .logo {
    width: 212px;
    cursor: pointer;
    user-select: none;
    @media screen and (min-width: $breakpoint-md) {
      width: 387px;
    }
  }

  .mobile-menu__search-form {
    margin: 50px 0;
    display: flex;
    .search-form__button {
      margin-left: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $slicer-red;
      border: none;
      i {
        font-size: 24px;
        color: $slicer-background;
      }
    }
    .search-form__input {
      width: 240px;
      height: 50px;
      border-radius: 25px;
      border: none;
      color: $slicer-light-text;
      font-family: Nunito Sans;
      font-size: 16px;
      padding-left: 10px;
    }
  }
  .mobile-menu__link {
    margin-top: 30px;
    font-family: Nunito Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    transition: all 0.3s linear;
    text-decoration: none;
    color: $slicer-background;
    &:hover {
      font-weight: 500;
    }
    &:nth-child(4) {
      text-decoration: underline;
    }
    &:first-child {
      margin-top: 50px;
    }
  }
}

.phonenumber_title {
  margin-top: 20px;
  color: $slicer-black;
  font-size: 14px;
  @media screen and (min-width: $breakpoint-md) {
    margin-top: 25px;
    font-size: 18px;
  }
}

.insta {
  color: $slicer-black;
  display: flex;
  text-decoration: none;
  transition: 0.3s all ease;
  margin-top: 10px;
  font-size: 14px;
  &__icon {
    font-size: 16px;
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-right: 5px;
  }
  &__text {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    text-decoration: none;
  }
  &:hover {
    color: $slicer-highlight;
  }
  @media screen and (min-width: $breakpoint-md) {
    font-size: 18px;
  }
}

.btn-container {
  transition: 0.3s all ease;
  display: flex;
  align-items: center;
  color: $slicer-background;
}

.btn-container__search {
  cursor: pointer;
  font-size: 15px;
}

.btn-container__menu {
  cursor: pointer;
  font-size: 25px;
  margin-left: 5px;
  transition: all 0.3s linear;
}

