@import "var.scss";

*{
    padding: 0px;
    margin: 0px;
}

body{
    min-width: 375px;
}

.open{
    display: flex;
}

.title{
    @include bg;
    padding-top: 50px;
    padding-bottom: 50px;
}

.logo{
    width: 212px;
    cursor: pointer;
    user-select: none;
}

.phonenumber_title{
    margin-top: 20px;
    color: $slicer-black;
}

.insta{
    color: $slicer-black;
    display: flex;
    text-decoration: none;
    transition: 0.3s all ease;
    margin-top: 10px;
    &__icon{
        font-size: 16px; 
        display: flex; 
        align-items: center;
        text-decoration: none;
        margin-right: 5px;
    }
    &__text{
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 400;
        text-decoration: none;
    }
    &:hover{
        color: $slicer-highlight;
    }
}