@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;700&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500&family=Ubuntu:wght@300;400;500&display=swap');

@mixin btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $slicer-red-dark;
    color: $slicer-background;
    font-family: Nunito Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
}

$slicer-red: #B02A37;
$slicer-background: #ffffff;
$slicer-black: #030303;
$slicer-red-dark: #DC3545;
$slicer-light-text: #747171;
$slicer-highlight: #FD7E14;
$slicer-page-background: #F6F6F6;

*{
    padding: 0px;
    margin: 0px;
}

body{
    min-width: 375px;
}

.header{
    width: 100%;
    height: 50px;
    padding: 0px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $slicer-red-dark;
}

.phonenumber{
    cursor: pointer;
    color: $slicer-background;
    display: flex;
    text-decoration: none;
    transition: 0.3s all ease;
    &__icon{
        font-size: 13px; 
        display: flex; 
        align-items: center;
        text-decoration: none;
        margin-right: 5px;
    }
    &__text{
        text-decoration: underline;
    }
    &:hover{
        color: $slicer-highlight;
    }
}

.btn-container{
    transition: 0.3s all ease;
    display: flex;
    align-items: center;
    color: $slicer-background;
}

.btn-container__search{
    cursor: pointer;
    font-size: 15px;
    
}

.btn-container__menu{
    cursor: pointer;
    font-size: 25px;
    margin-left: 5px;
}